<header class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img id="logo" src="assets/img/wip.png" alt="Sejemjet">
                <h1>Sejemjet</h1>
            </div>
            <div class="col-9">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>