<header class="text-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <span class="navbar-brand" href="#">
                <img src="/assets/img/wip.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Sejemjet
            </span>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sobre-mi.html">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Posts</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>